body#page2{
  background-color: #f9f4ef;
}
     

#follow{
  color: white;

}

i {
  color:#343a40;

}

i:hover {
  color: #ed6663;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 30px;
  font-size: 30px;
  color:#343a40;
}

ul{
  padding-left: 0px;
  padding: 20px;
}

.img-me{
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 40px;
  text-align: center;
  margin-top: 140px;
  margin-left: 450px;
}

#myBtn{
  margin-left: 490px;
  background-color: #343a40;
  border-radius: 4px;
  margin-top: 20px;
}

#myBtn:hover {
  background-color: #ed6663;
  border: none;
  border-radius: 4px;
  margin-left: 500px;
  margin-top: 20px;
}

.touch {
  flex: 0 0 50px;
  margin-right: 20px;
  font-size: 337%;
  margin-left: -213px;
  margin-top: 226px;
  position: -webkit-sticky;
  position: sticky;
  bottom: 1rem;
  align-self: flex-end;
  padding-right: 50px;
}

.lead{
  background-color: #343a40 ;
  
  color: white;
}

.navbar-nav{
  margin-left: 1265px;
}

.cards {
  li {
    color: #343a40;
    font-size: medium;
  }
}

.page-footer{
  background-color: #343a40;
  color:#c62a88;
}

#more {
  display: none;
}

#projects{
  width: 35rem;
}

.project-cards{
  margin-top: 80px;
  border-top: 2px solid lightgray;
  margin-bottom: 70px;

}

.border-projects{
  color: black;
}



























