

a:hover {
    color: black;
}

a {
    text-decoration: none,
}

#follow {
    color: white;

}

i {
    color: white;

}

i:hover {
    color: #ed6663;
}

.first {
  background: lightgray;                         /* White background */
padding: 30px;                             /* Internal space */
border-radius: 8px;                        /* Small radius */
box-shadow: 0 10px 30px rgba(0,0,0,.1); 
        /* Set the width */
      /* Set automatic margins on right/left */
text-align: center;
text-align: center;
margin: 50px;
text-align: center;
margin: 50px;

}


.second {
background: lightgray;                         /* White background */
padding: 30px;                             /* Internal space */
border-radius: 8px;                        /* Small radius */
box-shadow: 0 10px 30px rgba(0,0,0,.1); 
        /* Set the width */
      /* Set automatic margins on right/left */
text-align: center;
text-align: center;
margin: 50px;
}

.list-inline > li {
display: inline-block;
padding: 0px 30px;
font-size: 30px;
color: white;
}

ul {
    padding-left: 0px;
    padding: 20px;
}

.btn {
    background: #0f4c75;
    color: white;
    padding: 10;
    border-radius: 10px;
    
}

.btn:hover {
    background-color: #ed6663;
}



img {

    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
    text-align: center;
}

.touch {
  flex: 0 0 50px;
  margin-right: 20px;
  font-size: 250%;
}




























