<body id="page1">
<div class="container d-flex">

    
        <ul class="touch">
            <li><a href="https://www.facebook.com/andrea.sabova2/"target="_blank"><i class="fab fa-facebook"></i></a> </li>
            <li><a href="https://www.linkedin.com/in/andreatredrea/"target="_blank"><i class="fab fa-linkedin"></i></a></li>
            <li><a href="https://github.com/Andytred"target="_blank"><i class="fab fa-github"></i></a></li>
        </ul>


    <div class="cards">
        <div class="first">
                
                
                <%= image_tag "again.png", :class => "img" %>
            </div> 
            <div class="second">
                <h2>Living, learning & I love what I do</h2>

                <h3>Handcrafted by me @ andreaTredrea</h3>
            </div>    
        </div> 
    </div>
        

        
</div>
   

</body>


