         
<body id="page1">
    <div class="background-img">
    
        <div class="main-text">
            <h1>Hello, I'm <span style="color: #c62a88">Andrea Tredrea</span></h1>
            <h1>I'm a junior front-end web developer & service designer</h1>
        </div>
            <div>
                <%= link_to 'View my projects', about_path, :class => "success" %>
            </div>
    </div> 
</body>
    
 

   

